#testimonial{
	background-image: url(../img/layer.png);
	background-position: center;
}

.testimonial{
	h2{
		color: #fdeaeb;
		font-size: $fs*4;
		font-weight: $fw+300;
		text-align: center;
		margin: 100px 0;
	}
}
.gallery{
	display: flex;
	flex-wrap: wrap;
}
.element{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p{
		text-align: center;
		padding-top: 10px;
		font-size: $fs+6;
		color: #ebd6d6;
		font-family: $fms;
		font-weight: $fw+300;
		font-style: italic;
	}
}