$fmm: 'Montserrat', sans-serif;
$fml: 'Lato', sans-serif;
$fms: 'Source Sans Pro', sans-serif;
$fs: 10px;
$fw: 400;

/*specification*/
body{
	margin: 0 auto;
	padding: 0;
	font-family: $fmm;
}
div{
	box-sizing: border-box;
}

/*block header*/
#header{
	margin: 30px;
}
#fork{
	font-size: $fs+16;
	font-family: $fml;
	color: #5a4748;
	text-transform: uppercase;
}
#io{
	font-size: $fs+16;
	font-family: $fml;
	color: #a285a9;
	text-transform: uppercase;
}
ul{
	li{
		list-style-type: none;
		a{
			color: #80687b;
			text-transform: capitalize;
			font-weight: $fw+300;
			text-decoration: none;
		}
	}
}
/*block fork app*/
#fork_app{
	background-image: url(../img/bg.png);
	background-position: center;
}
.fork_app .title{
	padding: 120px 0 500px 0;
	text-align: center;
	h1{
		font-size: $fs*6;
		color: #fdeaeb;
		text-transform: capitalize;
		font-weight: $fw+300;
	}
	h2{
		font-size: $fs+12;
		color: #a285a9;
		font-family: $fml;
	}
	h3{
		font-size: $fs+4;
		color: #887c83;
		text-transform: uppercase;
	}
}
.btn{
	a{
		text-transform: capitalize;
		color: #fdeaeb;
		font-weight: $fw+300;
		font-size: $fs+6;
		text-decoration: none;
		border: 1px solid #8f7194;
		background: #8f7194;
		border-radius: 50px;
		padding: 25px 75px;
		&:hover{
			background: linear-gradient(45deg, yellow 15%, crimson 30%, orangered 50%, gold 75%);
			color: #321e23;
			transition: 0.8s;
		};
	}
}
/*editor*/
.editor .title{
	margin: 40px 0 80px 0;
	text-align: center;
	h6{
		font-size: $fs+4;
		color: #9b9098;
		text-align: center;
		margin-bottom: 50px;
	}
	h2{
		color: #80687b;
		font-size: $fs*4;
		text-transform: uppercase;
		font-weight: $fw+300;
	}
	p{
		color: #887576;
		font-size: $fs+6;
		width: 880px;
		margin: 0 auto;
	}
}
/*index*/
.index{
	background-color: #f4f4f4;
	.blocks{
		margin: 50px;
		.block{
		display: flex;
		margin-top: 30px;
		h3{
			color: #6a5758;
			font-size: $fs+4;
		}
		p{
			color: #9b9098;
			font-size: $fs+2;
		}
		}
	}
}
.html{
	margin: 50px;
	p{
		color: #a285a9;
		font-weight: $fw+300;
		font-size: $fs+25;
	}
}
.img{
	width: 120px;
}
/*social*/
.strange{
	margin: 80px 0 50px 0;
}
.content{
	margin-left: 20px;
	h2{
		color: #6e5466;
		font-size: $fs+14;
		font-weight: $fw+300;
	}
	p{
		color: #8f7194;
		font-size: $fs+6;
	}
}
.strange_content_text{
	width: 720px;
	text-align: center;
	p{
		color: #5a4748;
		font-size: $fs*2;
		font-family: $fms;
		span{
			color: #a285a9;
		}
	}
}
.two_hour{
	font-size: $fs+6;
	color: #a3979e;
	margin: 30px 0 60px 0;
	text-align: center;
}
@import 'testimonial';